{% extends "layout.html" %}

{% block main %}
	<p align="right" class="text-muted"><a href="/beneficios/cadastro">Cadastrar</a>, <a href="/beneficios/busca">buscar</a> ou ver uma <a href="/beneficios/lista">lista</a>?</p>
	<br>
	<h2>{{ perfil["nome"] }}</h2>
	<h4>Dados para Cadastro no Plano</h4>
	{% if perfil["dados"]|length %}
		{% for dado in perfil["dados"] %}
			{{ dado['nome'] }}<br>
		{% endfor %}
	{% else %}
		<p>Nenhum dado cadastrado.</p>
	{% endif %}
	<br>
	<a href="/beneficios/editar/{{ perfil['id'] }}" class="btn btn-primary btn-sm">Editar Dados</a>
	<br>
{% endblock %}