{% extends "layout.html" %}

{% block main %}
    <p align="right" class="text-muted"><a href="/beneficios/cadastro">Cadastrar</a> beneficios, <a href="/beneficios/busca">buscar</a> ou ver uma <a href="/beneficios/lista">lista</a>?</p>
    <br>
	<h1>Editar Dados para {{ profile["name"] }}</h1>
    <h4>Selecione os dados que gostaria de remover ou adicionar.</h4>
    <div class="container" style="margin-top: 17px;">
    	<form action="/beneficios/editar/{{ profile['id'] }}" method="post">
                <h5>Dados Cadastrados</h5>
                <p style="margin-bottom: 7px; margin-top: -7px;"  class="text-muted">Desselecione os dados que gostaria de remover.</p>
                <div class="form-check" style="margin-bottom: 20px;">
                    {% for data in profile['data_types'] %}
                        <input class="form-check-input" type="checkbox" id="{{ data['id'] }}" name="idDatatype" value="{{ data['idDatatype'] }}" checked>
                        <label class="form-check-label" for="{{ data['idDatatype'] }}">{{ data['name'] }}</label><br>
                    {% endfor %}
                </div>
                <h5>Dados Não Cadastrados</h5>
                <p style="margin-bottom: 7px; margin-top: -7px;"  class="text-muted">Selecione os dados que gostaria de adicionar.</p>
                <div class="form-check">
                    {% for data in available_datatypes %}
                            <input class="form-check-input" type="checkbox" id="{{ data['id'] }}" name="idDatatype" value="{{ data['id'] }}">
                        <label class="form-check-label" for="{{ data['id'] }}">{{ data['name'] }}</label><br>
                    {% endfor %}
                </div>
            <div style="margin-top: 15px;">
            <button class="btn btn-primary" type="submit">Enviar</button> 
            <a href="/beneficios/cadastro/dado/{{ profile['id'] }}" class="btn btn-secondary" type="submit">Não encontrou o dado na lista?</a>
            </div>
        </form>
    </div>
{% endblock %}