{% extends "layout.html" %}

{% block main %}
	<p align="right" class="text-muted"><a href="/pessoas/cadastro">Cadastrar</a>, <a href="/pessoas/busca">buscar</a> ou ver uma <a href="/pessoas/lista">lista</a>?</p>
	<br>
	<h1>Pessoas da {{ header["empresa"] }}</h1>
	{% if lista_colaboradores|length %}
		{% for colaborador in lista_colaboradores %}
			<a href="/pessoas/perfil/{{ colaborador['id'] }}">{{ colaborador["nome"] }}</a><br>
		{% endfor %}
	{% else %}
		<p>Nenhum resultado encontrado :(</p>
	{% endif %}
{% endblock %}