{% extends "layout.html" %}

{% block main %}
    <p align="right" class="text-muted"><a href="/pessoas/cadastro">Cadastrar</a>, <a href="/pessoas/busca">buscar</a> ou ver uma <a href="/pessoas/lista">lista</a>?</p>
    <br>
	<h1>Dados para Cadastro nos Benefícios Selecionados</h1>
	<form action="/pessoas/cadastro/beneficio" method="post">
        {% if lista_dados|length %}
            {% for dado in lista_dados %}
                <div class="form-group row">
                    <label for="{{ dado['id'] }}" class="col-sm-2 col-form-label">{{ dado["nome"] }}</label><br>
                    <div class="col-sm-10">
                        <input hidden id="{{ dado['id'] }}" name="id_tipo_de_dado" value="{{ dado['id'] }}">
                    {% if dado["dado"] is none %}
                        <input autocomplete="off" autofocus class="form-control" id="{{ dado['id'] }}" name="valor_dado" placeholder="{{ dado['nome'] }}" type="text">
                    {% else %}
                        <input autocomplete="off" class="form-control" id="{{ dado['id'] }}" name="valor_dado" value="{{ dado['dado'] }}" type="text">
                    {% endif %}
                    </div>
                </div><br>
            {% endfor %}
        {% endif %}
        <input hidden name="id_colaborador" value="{{ perfil['id'] }}">
        <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
{% endblock %}