{% extends "layout.html" %}

{% block main %}
	<p align="right" class="text-muted"><a href="/pessoas/cadastro">Cadastrar</a>, <a href="/pessoas/busca">buscar</a> ou ver uma <a href="/pessoas/lista">lista</a>?</p>
	<br>
	<h1>Editar Perfil</h1><br>
	<form action="/pessoas/editar/{{ profile['id'] }}" method="post">
        <div class="form-group row">
        	<label for="id" class="col-sm-2 col-form-label">ID:</label>
        	<div class="col-sm-10">
            	<input readonly class="form-control" name="id" value="{{ profile['id'] }}" type="text">
            </div>
        </div>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Nome:</label>
        	<div class="col-sm-10">
            	<input readonly class="form-control" name="name" value="{{ profile['name'] }}" type="text">
            </div>
        </div>
        <div class="form-group row">
        	<label for="cpf" class="col-sm-2 col-form-label">CPF:</label>
        	<div class="col-sm-10">
            	<input readonly class="form-control" name="cpf" value="{{ profile['cpf'] }}" type="text">
            </div>
        </div>
        <br>
        {% if benefits_list|length %}
            <h4>Selecione os benefícios que gostaria de remover ou adicionar.</h4>
            <h5>Benefícios Cadastrados</h5>
            <div class="form-check">
                {% for benefit in benefits_list %}
                    {% if benefit in profile["benefits"] %}
                        <input class="form-check-input" type="checkbox" id="{{ benefit['id'] }}" name="idBenefit" value="{{ benefit['id'] }}" checked>
                        <label class="form-check-label" for="{{ benefit['id'] }}">{{ benefit['name'] }}</label><br>
                    {% endif %}
                {% endfor %}
            </div>
            <br>
            <h5>Benefícios Não Cadastrados</h5>
            <div class="form-check">
                {% for benefit in benefits_list %}
                    {% if benefit not in profile["benefits"] %}
                        <input class="form-check-input" type="checkbox" id="{{ benefit['id'] }}" name="idBenefit" value="{{ benefit['id'] }}">
                        <label class="form-check-label" for="{{ benefit['id'] }}">{{ benefit['name'] }}</label><br>
                    {% endif %}
                {% endfor %}
            </div>
            <br>
        {% endif %}
        <button class="btn btn-primary" type="submit">Enviar</button>
    </form>
{% endblock %}