{% extends "layout.html" %}

{% block main %}
	<p align="right" class="text-muted"><a href="/{{ who }}/cadastro">Cadastrar</a> {{ who }}, <a href="/{{ who }}/busca">buscar</a> ou ver uma <a href="/{{ who }}/lista">lista</a>?</p>
	<br>
	<h1>Resultado da Busca</h1>
	{% if who_list|length %}
		{% for item in who_list|sort(attribute='name') %}
			<a href="/{{ who }}/perfil/{{ item['id'] }}"}}>{{ item["name"] }}</a><br>
		{% endfor %}
	{% else %}
		<p>Nenhum resultado encontrado :(</p>
	{% endif %}
{% endblock %}